name: TikTok Live Check

on:
  schedule:
    - cron: '*/10 * * * *' # سيعمل كل 10 دقائق مجاناً
  workflow_dispatch: # يتيح لك تشغيله يدوياً للتجربة

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Install dependencies
        run: npm install
      - name: Run Script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
          TIKTOK_USERNAME: ${{ secrets.TIKTOK_USERNAME }}
        run: node index.js
